/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */


/* --- my css --*/
.custom-navbar{
  background-color: #615EFC;
}

.comfortaa {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-color-blue{
  color:#0052cc
}

.font-color-green{
  color: green;
}

.font25{
  font-size: 25px;
  font-weight: 500;
}


.font30{
  font-size: 30px;
  font-weight: 600;
}

.font35{
  font-size: 35px;
  font-weight: 600;
}

.font-slight-bold{
  font-weight: 600;
}

.text-center{
  text-align: center;
}

.text-left{
  text-align: left;
}

.text-right{
  text-align:right;
}

.home_pic1{
  border: 5px grey solid;
  border-radius: 5%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-para{
  text-align: justify;
  display: flex;
  
}

.padding40{
  padding-top:40px;
  text-align: justify;
}

.padding20{
  padding-top:20px;
  text-align: justify;
  line-height: 1.5
}
 
/*  footer */
.footer-box{
  display: flex;
  flex-direction: row;
  color: white;
  background-color: green;
  justify-content: space-between;
  padding: 20px;
}

.footer-list{
  font-size: 15px;
}

.footer-list li{
  padding: 5px;
}

.flex-row{
  display: flex;
  list-style-type: none;
}

.flex-row li{
  margin-left: 20px;
}

.map{
  height: 250px;
  width: 400px;
}

.footer-logo{
  border-radius: 50%;
  height: 50px;
}

footer{
  background-color: green;
}

/* about us */
.user-info-container{
  display: flex;
  flex-direction: row;
}

.user-box div{
  display: flex;
  justify-content: center;
}

.user-profile-img{
  border-radius: 50px;
  height: 200px;
  width: 400p;
  margin: 5px;
  border: 1px solid;
}


.profile-para{
font-size: 15px;
    text-align: justify;
    font-weight: 400;
    margin: 20px;
    line-height: 1.5;
    color: white;
}

.obout-space h3{
  margin-left: 30px;
}

.user-box{
  border: #0052cc 2px solid;
  margin:10px;
  background-color: yellowgreen;
  border-radius: 5%;
}

/* Donate */

/* .form-container {
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 100vh;           
} */


.login-container{
  border: 2px green solid;
  background-color: white;
  width: 40%;
  height: 130vh;
  text-align: left;
  margin: 60px auto;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  background:linear-gradient(#16C47F,#FFD65A)
  
}

Form * {
  margin: 10px;
}

/* apply for volunteer */

.small-login-container{
  border: 2px green solid;
  background-color: white;
  width: 40%;
  height: 80vh;
  text-align: left;
  margin: 60px auto;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  background:linear-gradient(#16C47F,#FFD65A)
}

/* admin */
.green-background{
  background-color: #16C47F;
}

.justify{
  display: flex;
  justify-content: space-between;
}

.height100{
  height: 100px;
}

.small-small-login-container{
  border: 2px green solid;
  background-color: white;
  width: 40%;
  height: 40vh;
  text-align: left;
  margin: 60px auto;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  background:linear-gradient(#16C47F,#FFD65A)
}